* { 
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: GFSmith, sans-serif;
		scroll-behavior: smooth;
	}

.navbar_list, .navbar_links, button {
	font-weight: 400;
	font-size: 15px;
	color: #EBEDF3;
	text-decoration: none;
}

body header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px;
	background-color: #003B6D;
	position: fixed;
	width: 100%;
}

.vlc_logo {
	cursor: pointer;
	width: 50px;
	margin-right: auto;
}

.navbar_items {
	list-style-type: none;
}

.navbar_items > .navbar_list {
	display: inline-block;
	padding: 0px 20px;

}

button {
	margin-left: 20px;
	padding: 9px 25px;
	background-color: #6699CC;
	border: none;
	border-radius: 50px;
}


h1 {
	padding: 250px;
	font-size: 80px;
}


body #first_section {
	background-color: red;
	height: 100vh;
	margin: 0;
}

body #first_section > .VLC .formal2 {
	width: 350px;
	border-radius: 50%;
}

body #second_section {
	background-color: green;
	height: 100vh;
	margin: 0;
}

body #third_section {
	background-color: blue;
	height: 100vh;
	margin: 0;
}

body #fourth_section > .skills .skills_image_background{
	width: 85%;
	height: 100vh;
	margin: 0;
}

body #fifth_section {
	background-color: yellow;
	height: 100vh;
	margin: 0;
}

body #sixth_section {
	background-color: orange;
	height: 100vh;
	margin: 0;
}

body #sixth_section > .contact .formal {
	border-radius: 50%;
	width: 350px;
}

.contact {
	text-align: center;
}
