* { 
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: GFSmith, sans-serif;
		font-weight: 400;
		scroll-behavior: smooth;
	}

#navbar_items {
	list-style-type: none;
	margin: 0;
	padding: 5px;
	width: 10%;
	background-color: #f1f1f1;
	height: 100%;
	position: fixed;
	overflow: auto;
}

h1 {
	padding: 250px;
	font-size: 80px;
}

body #first_section {
	background-color: red;
	height: 100vh;
	margin: 0;
}

body #second_section {
	background-color: green;
	height: 100vh;
	margin: 0;
}

body #third_section {
	background-color: blue;
	height: 100vh;
	margin: 0;
}

body #fourth_section > .skills .skills_image_background{
	width: 85%;
	height: 100vh;
	margin: 0;
}

body #fifth_section {
	background-color: yellow;
	height: 100vh;
	margin: 0;
}

body #sixth_section {
	background-color: orange;
	height: 100vh;
	margin: 0;
}

body #sixth_section > .contact .formal {
	border-radius: 50%;
	width: 350px;
}

.contact {
	text-align: center;
}
