@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Hind, sans-serif;
	scroll-behavior: smooth;
	}

.navbar_list, .navbar_links, button {
	font-weight: 400;
	font-size: 15px;
	color: #EBEDF3;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: #003B6D;
	position: fixed;
	width: 100%;
}

.vlc_logo {
	width: 50px;
	margin-right: 30px;
}

.navbar_items {
	list-style-type: none;
}

.navbar_items > .navbar_list {
	display: inline-block;
	padding: 0px 20px;
}

.navbar_list button {
	margin-left: 20px;
	padding: 5px 20px;
	background-color: #6699CC;
	border: none;
	border-radius: 50px;
}

#first_section {
	background-color: white;
	height: 100vh;
	margin: 0;
	padding: 2px;
	text-align: center;
}

#first_section > .VLC .formal2 {
	width: 450px;
	border-radius: 50%;
}

#first_section > .VLC .text1 {
	padding-top: 70px;
	padding-left: 100px;
	padding-right: 100px;
	margin-top: 10px;
	font-size: 50px
}

#first_section > .VLC .text2 {
	font-size: 35px;
	padding-top: 10px;
}

/*#second_section {
	background-color: #EBEDF3;
	height: 100vh;
	margin: 0;
}

#second_section .work ul {
	margin: 0;
	padding-top: 50px;
	padding-left: 500px;
	display: inline;
}*/

#third_section {
	background-color: white;
	height: 100vh;
	margin: 0;
}

#third_section .projects h2 {
	text-align: center;
}
#fourth_section {
	height: 100vh;
	background-color: #EBEDF3;
}

#fourth_section > .skills {
	margin: 0;
	padding-top: 250px;
	text-align: center;
}

.skills {
	display: flex;
	flex-wrap: wrap;
}


#fifth_section {
	background-color: white;
	height: 100vh;
	margin: 0;
}
#fifth_section > .education {
	padding-top: 50px;
	width: 100%
	margin-right: 80px;
	text-align: center;

}
#fifth_section > .education .upd_shots {
	width: 220px;
	margin-top: 80px;
/*	display: inline-flex;*/
/*	text-align: center;*/
}

#fifth_section .education_texts {
	text-align: center;
	margin-top: 50px;
}

#fifth_section .education_texts .upm {
	font-size:	45px;
	font-style: bold;
}

#fift_section > .education .education_texts .orcom {
	text-align: center;
	padding-top: 80px;
	font-size: 25px;
}

#sixth_section {
	background-color: #EBEDF3;
	height: 100vh;
	margin: 0;
	padding-top: 80px;
	text-align: center;
}

#sixth_section > .contact .form {
	border-radius: 50%;
	width: 20px;
}

form {
	margin-left: 350px;
	margin-right: 350px;

}

.footer {
	background: #676767;
	color:#EBEDF3;
	height: 80px;
	position: relative;
}

.footer .footer_bottom {
	background: #003B6D;
	color: #EBEDF3;
	height: 50px;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-top: 20px;
}