@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Oxygen, sans-serif;
	scroll-behavior: smooth;
	}

.navbar_list, .navbar_links, button {
	font-weight: 400;
	font-size: 15px;
	color: #EBEDF3;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px;
	background-color: #003B6D;
	position: fixed;
	width: 100%;
}

.vlc_logo {
	cursor: pointer;
	width: 50px;
	margin-right: auto;
}

.navbar_items {
	list-style-type: none;
}

.navbar_items > .navbar_list {
	display: inline-block;
	padding: 0px 20px;
}

button {
	margin-left: 20px;
	padding: 5px 20px;
	background-color: #6699CC;
	border: none;
	border-radius: 50px;
}

#first_section {
	background-color: white;
	height: 100vh;
	margin: 0;
	padding: 2px;
	text-align: center;
}

#first_section > .VLC .formal2 {
	width: 450px;
	border-radius: 50%;
}

#first_section > .VLC .text1 {
	padding-top: 80px;
	padding-left: 100px;
	padding-right: 100px;
	margin-top: 10px;
	font-size: 55px
}

#first_section > .VLC .text2 {
	font-size: 35px;
	padding-top: 10px;
}

#second_section {
	background-color: #EBEDF3;
	height: 100vh;
	margin: 0;
}

#second_section .work ul {
	margin: 0;
	padding-top: 50px;
	padding-left: 500px;
	display: inline;
}

#third_section {
	background-color: white;
	height: 100vh;
	margin: 0;
}

body #fourth_section {
	height: 100vh;
}

body #fourth_section > .skills .skills_image_background {
	width: 85%;
	height: 100vh;
	margin: 0;
}

body #fifth_section {
	background-color: #EBEDF3;
	height: 100vh;
	margin: 0;
}

body #fifth_section > .education .upd_shots {
	width: 242px;
	padding: 3px;
	margin-top: 80px;
	margin-left: 7px;
}

body #fifth_section .education_texts {
	text-align: center;
	margin-top: 50px;
}

body #fifth_section .education_texts .upm {
	font-size:	50px;
	font-style: bold;
}

body #sixth_section {
	background-color: orange;
	height: 100vh;
	margin: 0;
}

body #sixth_section > .contact .formal {
	border-radius: 50%;
	width: 350px;
}

